@import "tailwindcss";


/* styles/fonts.css */
@font-face {
  font-family: 'SoehneBuch';
  src: url('/Fonts/Test web fonts (WOFF2)/test-soehne-buch.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@keyframes slideUpFade {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slideUpFade 0.6s ease-out forwards;
}